/* 
* @Author: Administrator
* @Date:   2015-06-12 11:13:59
* @Last Modified by:   Administrator
* @Last Modified time: 2015-06-18 09:53:13
*/
*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑";
}
.app .style{
	width: 100%;
	height: 155px;
	margin:auto;
	background: #fff;
}
.app .style p:nth-of-type(1){
	width: 100%;
	height: 55px;
	text-align: center;
	line-height: 55px;
	color:#51C2FF;
	font-size: 1.2em;
}
.app .style p:nth-of-type(2){
	width: 100%;
	height: 12px;
	text-align: center;
	line-height: 6px;
	color:#C4C4C4;
	font-size: 0.7em;
}
.app .style .pin{
	width: 68%;
	height: 93px;
	margin:auto;
}
.app .style .pin .show img{
	width: 100%;
	height: 100%;
}
.app .style .pin li{
	width: 60px;
	height: 60px;
  overflow: hidden;
	list-style: none;
	float: left;
	margin:5% auto 0 5%;
	text-align: center;
	font-size: 0.5em;
	color:#fff;
	line-height: 45px;
}
.app .style .pin li:nth-of-type(1){
	background: url(../images/frame_role_no1.png);
	-webkit-mask-image: url(../images/frame_role_no1.png);
	background-size: 100% 100%;
}
.app .style .pin li:nth-of-type(2){
	background: url(../images/frame_role_no2.png);
	-webkit-mask-image: url(../images/frame_role_no2.png);
	background-size: 100% 100%;
}
.app .style .pin li:nth-of-type(3){
	background: url(../images/frame_role_no3.png);
	-webkit-mask-image: url(../images/frame_role_no3.png);
	background-size: 100% 100%;
}
.app{
	width: 100%;
	height: 100%;
	background: #FFF8E6;
	overflow: hidden;
}
.app ul{
	width: 86%;
	height: 100%;
	margin:32px auto;
	overflow: hidden;
}
.app ul li{
	width:20%;
	height: 60px;
	list-style: none;
	float: left;
	margin-left: 3.1%;
	margin-bottom: 23%;
	text-align: center;
	line-height: 15px;
	
}
.app .pin li img{
	width: 100%;
	height: 100%;
}
.app #bt li img{
	width: 60px;
	height: 60px;
	text-align: center;
}
.app ul li span{
	width: 60px;
	height: 10px;
	color:#C49A53;
	font-size: 0.7em;
	margin-top: 3%;
}
.footer{
	width: 100%;
	height: 75px;
	background: #fff;

}
.footer ul{
	width: 90%;
	height: 40px;
	margin: auto;
	padding-top: 20px;
}
.footer ul .qian{
	width: 133px;
	height: 40px;
	background: #51C2FF;
	float: left;
	list-style: none;
	border-radius: 10px;
	color:#fff;
	font-size: 0.7em;
	line-height: 40px;
}
.footer ul .qian img{
	float: left;
	padding: 12px 17px;

	max-width: 7%;
}
.footer ul .hou img{
	float: right;
	padding: 12px 17px;
	max-width: 7%;
}
.footer ul .hou{
	width: 133px;
	height: 40px;
	background:#51C2FF;
	float: right;
	list-style: none;
	border-radius: 10px;
	line-height: 40px;
	color:#fff;
	font-size: 0.7em;
}
.footer ul p{
margin-left: 49px;
}