/* 
* @Author: Administrator
* @Date:   2015-06-12 11:13:59
* @Last Modified by:   Administrator
* @Last Modified time: 2015-06-30 14:55:08
*/
*{
	margin: 0;
	padding:0;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}
.app .style{
	width: 100%;
	height: 140px;
	margin:auto;
	background: #fff;
	opacity: 0.96;
}
.app .style p:nth-of-type(1){
	width: 100%;
	height: 49px;
	text-align: center;
	line-height: 55px;
	color:#71CA0F;
	font-size: 1.2em;
}
.app .style p:nth-of-type(2){
	width: 100%;
	height: 12px;
	text-align: center;
	line-height: 2px;
	color:#C4C4C4;
	font-size: 0.7em;
}
.app .style .pin{
	width: 70%;
	height: 93px;
	margin:auto;
	position: relative;
}
.app .style .pin .show img{
	width: 100%;
	height: 100%;
}
.app .style .pin li{
	width: 50px;
	height: 50px;
	list-style: none;
	
	margin-top: 5%;

}
.app .style .pin li:nth-of-type(1){
	background: url(../images/frame_book_no1.png);
	-webkit-mask-image: url(../images/frame_book_no1.png);
	background-size: 100% 100%;
	float: left;
}
.app .style .pin li:nth-of-type(2){
	background: url(../images/frame_book_no2.png);
	-webkit-mask-image: url(../images/frame_book_no2.png);
	background-size: 100% 100%;
	position: absolute;
	  left: 50%;
	  top: 0;
	  margin-left: -30px;
}
.app .style .pin li:nth-of-type(3){
	background: url(../images/frame_book_no3.png);
	-webkit-mask-image: url(../images/frame_book_no3.png);
	background-size: 100% 100%;
		float: right;
}
.app{
	width: 100%;
	height: 100%;
	background: #FAF8D9;
	overflow: hidden;
}
.app #bt{
	width: 96%;
	height: 100%;
	margin:32px auto;
	overflow: hidden;
}
.app #bt li{
	width:21%;
	height: 60px;
	list-style: none;
	float: left;
	margin: 1% 2% 15%;
	text-align: center;
	line-height: 15px;
	
}
.app .pin li img{
	width: 100%;
	height: 100%;
}
.app #bt li img{
	width: 60px;
	height: 60px;
	text-align: center;
}
.app #bt li span{
	text-align: center;
	color:#B2942D;
	font-size: 0.8em;
	display: block;
}
.footer{
	width: 100%;
	height: 80px;
	background: #fff;

}
.footer ul{
	width: 80%;
	height: 40px;
	margin: auto;
	padding-top: 20px;
}
.footer ul .qian{
	width: 120px;
	height: 36px;
	background: #71CA0F;
	float: left;
	list-style: none;
	border-radius: 10px;
	color:#fff;
	font-size: 1em;
	line-height: 36px;
}
.footer ul .qian img{
	float: left;
	padding: 12px 17px;

	max-width: 7%;
}
.footer ul .hou img{
	float: right;
	padding: 12px 17px;
	max-width: 7%;
}
.footer ul .hou{
	width: 120px;
	height: 36px;
	background:#71CA0F;
	float: right;
	list-style: none;
	border-radius: 10px;
	line-height: 36px;
	color:#fff;
	font-size: 1em;
}
.footer ul p{
margin-left: 29px;
}
