/* 
* @Author: Administrator
* @Date:   2015-06-10 13:48:58
* @Last Modified by:   Administrator
* @Last Modified time: 2015-06-19 16:04:04
*/
*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑";
}
.title{
	width: 100%;
	height: 100px;
	margin:auto;
	background: #61D9D7;
}

.title p{
	text-align: center;
	line-height:80px; 
	color:#fff;
	font-size: 18px;
}

.survey{
	width: 100%;
	height: 100%;
	margin-bottom: -1px;
}
.survey p:nth-of-type(1){
	width: 60px;
	height: 60px;
	border: 2px solid #C9F0EF;
	border-radius: 100px;
	float: left;
	margin-left: 40%;
	margin-top: -32px;
	background: #fff;
}
.survey p:nth-of-type(1) img{
	width: 100%;
	height: 100%;
	border-radius: 100px;
}
.survey p:nth-of-type(2){
	width: 80%;
	height: 196px;
	margin:auto;
	padding-top: 65px;
	font-size:1em;
	color:#86552F;
	line-height: 30px;
}
.survey a{
	width: 60%;
	height: 40px;
	display: block;
	background: #FFB73A;
	margin:auto;
	margin-top: 40px;
	border-radius: 15px;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	font-size:1.2em;
}
.survey a:link{
	text-decoration: none;
}
.survey p:nth-of-type(3){
	width: 20%;
	height: 100%;
	margin:auto;
}
.survey p:nth-of-type(3) img{
	max-width: 100%;
	margin-top: 37px;
	padding-bottom: 40px;
}
/*end*/
.result{
	width:90%;
	height: 100%;
	margin: auto;
}
.result p:nth-of-type(1){
	margin-top: 15px;
	color:#80490A;
	font-size: 1em;
}
.result p:nth-of-type(2){
	margin-top: 6px;
	color:#80490A;
	font-size: 0.9em;
	line-height: 23px;
}
.result p:nth-of-type(3) img{
	max-width: 100%;
	margin-top: 25px;
}
.result a:link{
	text-decoration: none;
}
.result a p:nth-of-type(1){
	width:73%;
	height: 50px;
	border-radius: 10px;
	margin:auto;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size:1em;margin-top:25px;
		background:#FFB73A;
}
.result p:nth-of-type(4){
	width:73%;
	height: 50px;
	border-radius: 10px;
	margin:auto;
	text-align: center;
	line-height: 50px;
	color: red;
	margin-bottom: 90px;
	font-size: 0.7em;


}
.link{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}
.link a{
	margin:0;
	padding:0;
}
.link img{
	width: 100%;
	height: 100%;
	max-width: 100%;
}
/*app*/
.app .style{
	width: 100%;
	height: 155px;
	margin:auto;
	background: #fff;
	opacity: 0.96;

}
.app .style p:nth-of-type(1){
	width: 100%;
	height: 49px;
	text-align: center;
	line-height: 55px;
	color:#F5A623;
	font-size: 1.2em;
}
.app .style p:nth-of-type(2){
	width: 100%;
	height: 12px;
	text-align: center;
	line-height: 2px;
	color:#C4C4C4;
	font-size: 0.7em;
}
.app .style .pin{
	width: 81%;
	height: 93px;
	margin:auto;
}
.app .style .pin .show img{
	width: 100%;
	height: 100%;
}
.app .style .pin li{
	width: 60px;
	height: 60px;
	list-style: none;
	float: left;
	margin:5% auto 0 10%;
	text-align: center;
	font-size: 0.5em;
	color:#fff;
	line-height: 45px;
	
}
.app .style .pin li:nth-of-type(1){
	background: url(../images/frame_app_no1.png);
	-webkit-mask-image: url(../images/frame_app_no1.png);
	background-size: 100% 100%;
}
.app .style .pin li:nth-of-type(2){
	background: url(../images/frame_app_no2.png);
	-webkit-mask-image: url(../images/frame_app_no2.png);
	background-size: 100% 100%;
}
.app .style .pin li:nth-of-type(3){
	background: url(../images/frame_app_no3.png);
	-webkit-mask-image: url(../images/frame_app_no3.png);
	background-size: 100% 100%;
}
.app{
	width: 100%;
	height: 100%;
	background: #DEF3EE;
	overflow: hidden;
}
.app ul{
	width: 86%;
	height: 100%;
	margin:32px auto;
	overflow: hidden;
}
.app ul li{
	width:20%;
	height: 60px;
	list-style: none;
	float: left;
	margin-left: 3.1%;
	margin-bottom: 13%;
		text-align: center;
	line-height: 15px;
	
}
.app .pin li img{
	width: 100%;
	height: 100%;
}
.app #bt li img{
	width: 60px;
	height: 60px;
	text-align: center;
}
.app ul li span{
	width: 60px;
	height: 10px;
	text-align: center;
	color:#54B1A4;
	font-size: 0.8em;
}
.footer{
	width: 100%;
	height: 80px;
	background: #fff;

}
.footer ul{
	width: 80%;
	height: 40px;
	margin: auto;
	padding-top: 20px;
}
.footer ul .qian{
	width: 120px;
	height: 36px;
	background: #FFBD21;
	float: left;
	list-style: none;
	border-radius: 10px;
	color:#fff;
	font-size: 1em;
	line-height: 36px;
}
.footer ul .qian img{
	float: left;
	padding: 12px 17px;

	max-width: 7%;
}
.footer ul .hou img{
	float: right;
	padding: 12px 17px;
	max-width: 7%;
}
.footer ul .hou{
	width: 120px;
	height: 36px;
	background: #FFBD21;
	float: right;
	list-style: none;
	border-radius: 10px;
	line-height: 36px;
	color:#fff;
	font-size: 1em;
}
.footer ul p{
margin-left: 29px;
}