/* 
* @Author: Administrator
* @Date:   2015-06-10 13:48:58
* @Last Modified by:   Administrator
* @Last Modified time: 2015-06-11 16:45:35
*/
*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑";
}
.title{
	width: 85%;
	height: 180px;
	margin:auto;
}

.title img{
	max-width: 100%;
	margin-top:45px;
}

.survey{
	width: 100%;
	height: 100%;
	background: #84CECC;
	margin-bottom: -1px;
}
.survey p:nth-of-type(1){
	width: 60px;
	height: 60px;
	border: 2px solid #C9F0EF;
	border-radius: 100px;
	float: left;
	margin-left: 40%;
	margin-top: -32px;
	background: #fff;
}
.survey p:nth-of-type(2){
	width: 80%;
	height: 196px;
	margin:auto;
	padding-top: 65px;
	font-size:1.1em;
	color:#fff;
	line-height: 33px;
}
.survey a{
	width: 50%;
	height: 55px;
	display: block;
	background: #fff;
	margin:auto;
	margin-top: 33px;
	border-radius: 15px;
	text-align: center;
	line-height: 55px;
	color: #FF990F;
	font-size:1.2em;
}
.survey a:link{
	text-decoration: none;
}
.survey p:nth-of-type(3){
	width: 20%;
	height: 100%;
	margin:auto;
}
.survey p:nth-of-type(3) img{
	max-width: 100%;
	margin-top: 37px;
	padding-bottom: 40px;
}
/*end*/
.title-end{
	width: 90%;
	height: 120px;
	margin:auto;
}
.title-end img{
	max-width: 100%;
	margin-top:45px;
}
hr{
	margin-top: 15px;
	border:0;
	background-color:#E6E6E6;
	height:1px;
}
.result{
	width:90%;
	height: 100%;
	margin: auto;
}
.result p:nth-of-type(1){
	margin-top: 15px;
	color:#80490A;
	font-size: 1em;
}
.result p:nth-of-type(2){
	margin-top: 6px;
	color:#80490A;
	font-size: 0.9em;
	line-height: 23px;
}
.result p:nth-of-type(3) img{
	max-width: 100%;
	margin-top: 25px;
}
.result p:nth-of-type(4){
	width:70%;
	height: 50px;
	background: #FFB73A;
	border-radius: 10px;
	margin:auto;
	text-align: center;
	line-height: 50px;
	color: #fff;
	margin-top: 50px;
	  margin-bottom: 90px;

}
.link{
	width: 100%;
	height: 59px;
	position: fixed;
	bottom: 0;
}
.link img{
	max-width: 100%;
}
/*app*/
.app .style{
	width: 100%;
	height: 155px;
	margin:auto;
	background: #fff;
}
.app .style p{
	width: 100%;
	height: 55px;
	text-align: center;
	line-height: 55px;
	color:#F5A623;
	font-size: 1.2em;
}
.app .style .pin{
	width: 55%;
	height: 96px;
	margin:auto;
}
.app .style .pin .show img{
	width: 100%;
	height: 100%;
}
.app .style .pin li{
	width: 45px;
	height: 45px;
	background: #DEF3EE;
	list-style: none;
	border:2px solid #FFBD21;
	float: left;
	border-radius: 100px; 
	/*margin-left:8%;
	margin-top:5%;*/
	margin:5% auto 0 5%;
	text-align: center;
	font-size: 0.5em;
	color:#fff;
	line-height: 45px;
}
.app{
	width: 100%;
	height: 100%;
	background: #DEF3EE;
	overflow: hidden;
}
.app ul{
	width: 86%;
	height: 100%;
	margin:32px auto;
	overflow: hidden;
}
.app ul li{
	width:20%;
	height: 60px;
	list-style: none;
	background: #cc0;
	float: left;
	margin-left: 3.1%;
	margin-bottom: 13%;
	
	
}
.app ul li img{
	width: 100%;
	height: 100%;
	text-align: center;
}
.app ul li span{
	width: 60px;
	height: 10px;
	text-align: center;
	color:#33B1A4;
	font-size: 0.7em;
}
.footer{
	width: 100%;
	height: 50px;
	background: #DEF3EE;

}
.footer ul{
	width: 90%;
	height: 50px;
	margin:auto;
}
.footer ul .qian{
	width: 133px;
	height: 40px;
	background: #FFBD21;
	float: left;
	list-style: none;
	border-radius: 10px;
	text-align: center;
	line-height: 40px;
	color:#fff;
	font-size: 0.7em;
}
.footer ul .hou{
	width: 133px;
	height: 40px;
	background: #FFBD21;
	float: right;
	list-style: none;
	border-radius: 10px;
	text-align: center;
	line-height: 40px;
	color:#fff;
	font-size: 0.7em;
}

