{% extends 'layout.html' %}


{% block head %}
{% parent %}

{% endblock %}


{% block content %}
<link rel="stylesheet" href="/css/text-star-end.css">


<div class="app">
    <div class="style">
        <p>选出你的APP Style</p>

        <p>请选择三个选项</p>
        <ul class="pin">
            <li id="showo"></li>
            <li id="showt"></li>
            <li id="showh"></li>
        </ul>
    </div>
    <input id="category" style="display:none" value="{{category}}"/>
    <ul id="bt">
        <li><img id="2" src="/images/app_01.jpg" height="150" width="150" alt=""><span>ONE</span></li>
        <li><img id="14" src="/images/app_02.jpg" height="150" width="150" alt=""><span>颜文字</span></li>
        <li><img id="10" src="/images/app_03.jpg" height="150" width="150" alt=""><span>饿了么</span></li>
        <li><img id="8" src="/images/app_04.jpg" height="150" width="150" alt=""><span>节操精选</span></li>
        <li><img id="18" src="/images/app_05.jpg" height="150" width="150" alt=""><span>美拍</span></li>
        <li><img id="9" src="/images/app_06.jpg" height="150" width="150" alt=""><span>陌陌</span></li>
        <li><img id="5" src="/images/app_07.jpg" height="148" width="148" alt=""><span>MONO</span></li>
        <li><img id="12" src="/images/app_08.jpg" height="148" width="148" alt=""><span>有妖气</span></li>
        <li><img id="1" src="/images/app_09.jpg" height="150" width="150" alt=""><span>豆瓣FM</span></li>
        <li><img id="7" src="/images/app_10.jpg" height="150" width="150" alt=""><span>糗事百科</span></li>
        <li><img id="3" src="/images/app_11.jpg" height="150" width="150" alt=""><span>特逗</span></li>
        <li><img id="15" src="/images/app_12.jpg" height="150" width="150" alt=""><span>Framed</span></li>
        <li><img id="11" src="/images/app_13.jpg" height="150" width="150" alt=""><span>豆腐</span></li>
        <li><img id="4" src="/images/app_14.jpg" height="150" width="150" alt=""><span>美图GIF</span></li>
        <li><img id="16" src="/images/app_15.jpg" height="150" width="150" alt=""><span>The Room</span></li>
        <li><img id="13" src="/images/app_16.jpg" height="150" width="150" alt=""><span>美图贴贴</span></li>
        <li><img id="17" src="/images/app_17.jpg" height="150" width="150" alt=""><span>Instagram</span></li>
        <li><img id="6" src="/images/app_18.jpg" height="150" width="150" alt=""><span>LOFTER</span></li>
        <li><img id="19" src="/images/app_19.jpg" height="150" width="150" alt=""><span>百思不得姐</span></li>
        <li><img id="20" src="/images/app_20.jpg" height="150" width="150" alt=""><span>开心消消乐</span></li>
    </ul>
</div>
<div class="footer">

    <ul >
        <a>
            <li class="qian"><img src="/images/arrow_back.png" alt="">

                <p>返回</p></li>
        </a>
        <a>
            <li class="hou"><img src="/images/arrow_go.png" alt="">

                <p>下一题</p></li>
        </a>
    </ul>

</div>



{% endblock %}