
{% extends 'layout.html' %}


{% block head %}
{% parent %}

{% endblock %}


{% block content %}
        <link rel="stylesheet" href="/css/test-book.css">
		<input id="category" style="display:none" value="{{category}}"/>
    	<div class="app">
    		<div class="style">
    			<p>选出你的阅读 Style</p>
    			<p>请选择三个选项</p>
    			<ul class="pin">
    				<li id="showo"></li>
    				<li id="showt"></li>
    				<li id="showh"></li>
    			</ul>
    		</div>
    		<ul id="bt">
				<li><img id="7" src="/images/book_01.jpg" height="150" width="150" alt=""><span>暴走漫画</span></li>
				<li><img id="20" src="/images/book_02.jpg" height="150" width="150" alt=""><span>盗墓笔记</span></li>
				<li><img id="10" src="/images/book_03.jpg" height="150" width="150" alt=""><span>完美世界</span></li>
				<li><img id="17" src="/images/book_04.jpg" height="150" width="150" alt=""><span>小王子</span></li>
				<li><img id="15" src="/images/book_05.jpg" height="150" width="150" alt=""><span>无人生还</span></li>
				<li><img id="5" src="/images/book_06.jpg" height="150" width="150" alt=""><span>平凡的世界</span></li>
				<li><img id="19" src="/images/book_07.jpg" height="150" width="150" alt=""><span>蜡笔小新</span></li>
				<li><img id="2" src="/images/book_08.jpg" height="150" width="150" alt=""><span>挪威的森林</span></li>
				<li><img id="13" src="/images/book_09.jpg" height="150" width="150" alt=""><span>一起一起这里那里</span></li>
				<li><img id="8" src="/images/book_10.jpg" height="150" width="150" alt=""><span>十万个冷笑话</span></li>
				<li><img id="3" src="/images/book_11.jpg" height="150" width="150" alt=""><span>如何成为一个妖孽</span></li>
				<li><img id="12" src="/images/book_12.jpg" height="150" width="150" alt=""><span>怎见浮生不若梦</span></li>
				<li><img id="1" src="/images/book_13.jpg" height="150" width="150" alt=""><span>撒哈拉的故事</span></li>
				<li><img id="16" src="/images/book_14.jpg" height="150" width="150" alt=""><span>福尔摩斯全集</span></li>
				<li><img id="6" src="/images/book_15.jpg" height="150" width="150" alt=""><span>国富论</span></li>
				<li><img id="4" src="/images/book_16.jpg" height="150" width="150" alt=""><span>沙僧日记</span></li>
				<li><img id="11" src="/images/book_17.jpg" height="150" width="150" alt=""><span>探索者系列</span></li>
				<li><img id="18" src="/images/book_18.jpg" height="148" width="148" alt=""><span>达芬奇密码</span></li>
				<li><img id="14" src="/images/book_19.jpg" height="148" width="148" alt=""><span>守护甜心</span></li>
				<li><img id="9" src="/images/book_20.jpg" height="150" width="150" alt=""><span>鬼吹灯</span></li>
    		</ul>
    	</div>
    	<div class="footer">
    		<ul>
    			<a ><li class="qian"><img src="/images/arrow_back.png"  alt=""><p>上一题</p></li></a>
    		   <a ><li class="hou"><img src="/images/arrow_go.png"  alt=""><p>下一题</p></li></a>
    		</ul>
			 	</div>



		{% endblock %}