{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% parent %}

{% endblock %}


{% block content %}

<p id="category" name="{{categoty}}">选择你最喜欢的的三个{{category}}</p>
<form>
    {% for item in items -%}
    <label>
        <input type="checkbox" id="{{item.id}}">{{ item.name }}
    </label></br>
    {%- endfor %}
</form>

<button class="ui-btn" onclick="nextCategory()">下一题</button>

<script>

    var selects = [];
    $("input").change(function () {
        var $input = $(this);
        if($input.is( ":checked" )){
            selects.push($input.context.id);
        }
    }).change();


    function nextCategory() {
        console.log(selects);
        if (selects.length !== 3) {
            return alert("请选择三项！");
        }
        var params = {
            category: "{{category}}",
            items: selects
        };
        $.post('/api/setCategory', params, function (data) {

            if(!data || !data.hasOwnProperty("code") || data.code!==0){
                alert(data.error);
            } else if(data.data && data.data.nextCategoty){
                location.href ="/getCategory/"+data.data.nextCategoty;

            } else if(data.data && data.data.result){
                location.href ="/getResult/"+data.data.result;
            }

        }, 'json');

    }


</script>

{% endblock %}

