{% extends 'layout.html' %}

{% block title %}原来你是这样的人{% endblock %}

{% block head %}
{% parent %}

{% endblock %}


{% block content %}


<link rel="stylesheet" href="/css/text-star-end.css">
    	<section>
    		<div class="result">
    			<p>原来{% if openid == selfOpenId %}你{% else %}{{nickname}}{% endif %}是这样的人：{{name}}</p>
                <p>{{title}}</p>
    			<p>{{description}}</p>
    			<p><img src="{{imgUrl}}" alt=""></p>
    			<p>点击页面右上角将结果分享到朋友圈~↑</p>
    		</div>
    	</section>
    	<div class="link">
    			<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ilike.activity"><img src="/images/ilike_banner.jpg" alt=""></a>
    		</div>
{% endblock %}