<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}My Site{% endblock %}</title>

{% block head %}
<script src="http://127.0.0.1:3000/jquery-2.1.4.min.js"></script>
<script src="http://127.0.0.1:3000/jquery.mobile.custom.min.js"></script>
<link rel="stylesheet" href="http://127.0.0.1:3000/jquery.mobile.custom.structure.min.css">
<link rel="stylesheet" href="http://127.0.0.1:3000/jquery.mobile.custom.theme.min.css">
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>