
{% extends 'layout.html' %}


{% block head %}
{% parent %}

{% endblock %}


{% block content %}
        <link rel="stylesheet" href="/css/test-video.css">
       <input id="category" style="display:none" value="{{category}}"/>
    	<div class="app">
    		<div class="style">
    			<p>选出你的影视 Style</p>
    			<p>请选择三个选项</p>
    			<ul class="pin">
    				<li id="showo"></li>
    				<li id="showt"></li>
    				<li id="showh"></li>
    			</ul>
    		</div>
    		<ul id="bt">
				<li><img id="5" src="/images/video_01.jpg" height="150" width="150" alt=""><span>星际穿越</span></li>
				<li><img id="7" src="/images/video_02.jpg" height="150" width="150" alt=""><span>不一样的美男子</span></li>
				<li><img id="9" src="/images/video_03.jpg" height="150" width="150" alt=""><span>K-ONI轻音部</span></li>
				<li><img id="17" src="/images/video_04.jpg" height="150" width="150" alt=""><span>古剑奇谭</span></li>
				<li><img id="20" src="/images/video_05.jpg" height="150" width="150" alt=""><span>千与千寻</span></li>
				<li><img id="14" src="/images/video_06.jpg" height="150" width="150" alt=""><span>马达加斯加的企鹅</span></li>
				<li><img id="15" src="/images/video_07.jpg" height="150" width="150" alt=""><span>记忆碎片</span></li>
				<li><img id="8" src="/images/video_08.jpg" height="150" width="150" alt=""><span>Bruno</span></li>
				<li><img id="6" src="/images/video_09.jpg" height="150" width="150" alt=""><span>辛德勒的名单</span></li>
				<li><img id="2" src="/images/video_10.jpg" height="150" width="150" alt=""><span>海上钢琴师</span></li>
				<li><img id="11" src="/images/video_11.jpg" height="150" width="150" alt=""><span>暹罗之恋</span></li>
				<li><img id="13" src="/images/video_12.jpg" height="150" width="150" alt=""><span>樱桃小丸子</span></li>
				<li><img id="1" src="/images/video_13.jpg" height="150" width="150" alt=""><span>重庆森林</span></li>
				<li><img id="4" src="/images/video_14.jpg" height="150" width="150" alt=""><span>屌丝男士</span></li>
				<li><img id="12" src="/images/video_15.jpg" height="150" width="150" alt=""><span>黑执事</span></li>
				<li><img id="10" src="/images/video_16.jpg" height="150" width="150" alt=""><span>银魂</span></li>
				<li><img id="16" src="/images/video_17.jpg" height="150" width="150" alt=""><span>蝴蝶效应</span></li>
				<li><img id="18" src="/images/video_18.jpg" height="148" width="148" alt=""><span>唐伯虎点秋香</span></li>
				<li><img id="19" src="/images/video_19.jpg" height="148" width="148" alt=""><span>Sherlock</span></li>
				<li><img id="3" src="/images/video_20.jpg" height="150" width="150" alt=""><span>万万没想到</span></li>
    		</ul>
    	</div>
    	<div class="footer">
    		<ul>
    			<a ><li class="qian"><img src="/images/arrow_back.png"  alt=""><p>上一题</p></li></a>
    			<a ><li class="hou"><img src="/images/arrow_go.png"  alt=""><p>下一题</p></li></a>
    		</ul>
    	</div>
{% endblock %}