<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/text-star-end.css">
        <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.pin.js"></script>
        <title>让全世界认清你的真面目！</title>
    </head>
    <body>
    	<div class="app">
    		<div class="style">
    			<p>选出你的APP Style</p>
    			<p>请选择三个选项</p>
    			<ul class="pin">
    				<li id="showo"><img src="images/frame_app_no1.png" alt=""></li>
    				<li id="showt"><img src="images/frame_app_no2.png" alt=""></li>
    				<li id="showh"><img src="images/frame_app_no3.png" alt=""></li>
    			</ul>
    		</div>
    		<ul id="bt">
    			<li><img src="images/app_01.png" height="150" width="150" alt=""><span>ONE</span></li>
    			<li><img src="images/app_02.png" height="150" width="150" alt=""><span>颜文字</span></li>
    			<li><img src="images/app_03.png" height="150" width="150" alt=""><span>饿了么</span></li>
    			<li><img src="images/app_04.png" height="150" width="150" alt=""><span>暴走漫画</span></li>
				<li><img src="images/app_05.png" height="150" width="150" alt=""><span>美拍</span></li>
				<li><img src="images/app_06.png" height="150" width="150" alt=""><span>陌陌</span></li>
				<li><img src="images/app_07.png" height="148" width="148" alt=""><span>MONO</span></li>
				<li><img src="images/app_08.png" height="148" width="148" alt=""><span>有妖气</span></li>
    			<li><img src="images/app_09.png" height="150" width="150" alt=""><span>豆瓣</span></li>
    			<li><img src="images/app_10.png" height="150" width="150" alt=""><span>糗事百科</span></li>
    			<li><img src="images/app_11.png" height="150" width="150" alt=""><span>特逗</span></li>
    			<li><img src="images/app_12.png" height="150" width="150" alt=""><span>FRAMED</span></li>
    			<li><img src="images/app_13.png" height="150" width="150" alt=""><span>豆腐</span></li>
    			<li><img src="images/app_14.png" height="150" width="150" alt=""><span>美图GIF</span></li>
    			<li><img src="images/app_15.png" height="150" width="150" alt=""><span>TheRoom</span></li>
    			<li><img src="images/app_16.png" height="150" width="150" alt=""><span>美图贴贴</span></li>
    			<li><img src="images/app_17.png" height="150" width="150" alt=""><span>Instagram</span></li>
    			<li><img src="images/app_18.png" height="150" width="150" alt=""><span>LOFTER</span></li>
    			<li><img src="images/app_19.png" height="150" width="150" alt=""><span>百思不得姐</span></li>
    			<li><img src="images/app_20.png" height="150" width="150" alt=""><span>开心消消乐</span></li>	
    		</ul>
    	</div>
    	<div class="footer">
    		<ul>
    			<a href="/test-start"><li class="qian">返回</li></a>
    			<a href="/test-book"><li class="hou">下一题</li></a>
    		</ul>
    	</div>
    	<script type="text/javascript">
		$(".style").pin(
			{
      			containerSelector: ".app"
			}
		)
		
		var wtf = 0;
		
		$("#showo").click(function (e){
			
			if(wtf==0)
			{
				alert("当前没有选项哦！");
			}else{
				var html = e.target.src;
				if(html.match("images/frame_app_no1.png"))
				{
					alert("当前没有选项哦！");				
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showo").html("<img src='images/frame_app_no1.png' alt=''>");
					}
				
				}
			
			}
		
		})
		$("#showt").click(function (e){
			
			if(wtf==0){
				alert("当前没有选项哦！");
			}else
			{
				var html = e.target.src;
				if(html.match("images/frame_app_no2.png"))
				{
					alert("当前没有选项哦！");				
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showt").html("<img src='images/frame_app_no2.png' alt=''>");
					}
			}
			
			}
		
		})
		
		
		
		$("#showh").click(function (e){
		
			if(wtf==0){
				alert("当前没有选项哦！");
			}else
			{
				var html = e.target.src;
				if(html.match("images/frame_app_no3.png"))
				{
					alert("当前没有选项哦！");
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showh").html("<img src='images/frame_app_no3.png' alt=''>");
					}
				}
				
			}
		})
		
		
		
		$("#bt li img").click(function(e){

			 $(this).unbind('click');
			if(wtf<3){
				wtf++;
			  	var target = e.target.src;
			  	var htmlo = $("#showo").html();
			  	var htmlt = $("#showt").html();
			  	var htmlh = $("#showh").html();



		  	
		  	    if(wtf<=3)
		  	    {
		  			switch(wtf){
		  				case 1: $("#showo").html("<img src='"+target+"' height='150' alt=''>");break;
		  				case 2: 
		  				if(htmlt.match("images/frame_app_no2.png")){
		  					$("#showt").html("<img src='"+target+"' height='150' alt=''>");
		  				}else{
		  					$("#showo").html("<img src='"+target+"' height='150' alt=''>");
		  				}break;
		  				case 3:
		  				if(htmlh.match("images/frame_app_no3.png")){
		  					$("#showh").html("<img src='"+target+"' height='150' alt=''>");
		  				}else if(htmlo.match("images/frame_app_no1.png")){
		  					$("#showo").html("<img src='"+target+"' height='150' alt=''>");
		  				}else{
		  					$("#showt").html("<img src='"+target+"' height='150' alt=''>");
		  				}break;
		  		}
		  	}else
		  	{
		  		alert("没有选项哦");
		  	}
			
		  }		
		
			 
		}); 
	</script>
    </body>
</html>