<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
        <link rel="stylesheet" href="css/text-star-end.css">
        <title>让全世界认清你的真面目！</title>
    </head>
    <body>
    	<section>
    		<div class="result">
    			<p>原来<span>×××</span>是这样的人：萌&最烧脑</p>
                <p>我就是我，是颜色不一样的烟火</p>
    			<p>低调走过，深沉卖萌人畜无害的外表下深藏着超乎常人的脑力，思维敏捷，富于联想。工作中你沉着冷静，总是单独地思考问题找到解决的方法。生活中的你，平易近人，一言一行就那么轻易地软了心。真可谓装的了深沉，卖的了萌，棒棒哒！</p>
    			<p><img src="images/result_pic.jpg" alt=""></p>
    			<a href="apps.html"><p style="background:#FFB73A;color:#fff;font-size:1em;margin-top:25px;">我也要测试</p></a>
    		</div>
    	</section>
    	<div class="link">
    			<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ilike.activity"><img src="images/ilike_banner.jpg" alt=""></a>
    		</div>
    </body>
</html>