<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
        <link rel="stylesheet" href="css/text-star-end.css">
        <title>让全世界认清你的真面目！</title>
    </head>
    <body>
  
    		<div class="title">
    			<img src="http://127.0.0.1:3000/images/type_cecenishishenmeshuxing.jpg" alt="">
    		</div>
    
    	<section>
    		<div class="survey">
    			<p></p>
    			<p>每个人都有自己独特的属性，是二是腐，是高逼格还是无节操，不关你是隐藏在黑暗角落里还是大隐隐于市般的伪装在灯光之下，这个测试都会暴露你最真实的一面，是时候让全世界认清你的真面目了！</p>
    			<a href="/startTest">开始测试</a>
    			<p><img src="http://127.0.0.1:3000/images/cover_ilike.jpg" alt=""></p>
    		</div>
    	</section>
    </body>
</html>