<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
        <link rel="stylesheet" href="css/text-star-end.css">
        <title>让全世界认清你的真面目！</title>
    </head>
    <body>
    	<section>
    		<div class="title-end">
    			<img src="images/type_cecenishishenmeshuxing.jpg" alt="">
    			<hr>
    		</div>
    	</section>
    	<section>
    		<div class="result">
    			<p>你的测试结果是：萌&最烧脑</p>
    			<p>低调走过，深沉卖萌人畜无害的外表下深藏着超乎常人的脑力，思维敏捷，富于联想。工作中你沉着冷静，总是单独地思考问题找到解决的方法。生活中的你，平易近人，一言一行就那么轻易地软了心。真可谓装的了深沉，卖的了萌，棒棒哒！</p>
    			<p><img src="images/result_pic.jpg" alt=""></p>
    			<p>分享测试结果</p>
    		</div>
    	</section>
    	<div class="link">
    			<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ilike.activity"><img src="images/ilike_banner.jpg" alt=""></a>
    		</div>
    </body>
</html>