<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/test-role.css">
        <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.pin.js"></script>
        <title>让全世界认清你的真面目！</title>
    </head>
   <body>
    	<div class="app">
    		<div class="style">
    			<p>选出你的人物角色 Style</p>
    			<p>请选择三个选项</p>
    			<ul class="pin">
    				<li id="showo"><img src="images/frame_role_no1.png" alt=""></li>
    				<li id="showt"><img src="images/frame_role_no2.png" alt=""></li>
    				<li id="showh"><img src="images/frame_role_no3.png" alt=""></li>
    			</ul>
    		</div>
    		<ul id="bt">
    			<li><img src="images/role_01.png" height="150" width="150" alt=""><span>樱兰</span></li>
    			<li><img src="images/role_02.png" height="150" width="150" alt=""><span>张全蛋</span></li>
    			<li><img src="images/role_03.png" height="150" width="150" alt=""><span>Walter White</span></li>
    			<li><img src="images/role_04.png" height="150" width="150" alt=""><span>苏打绿</span></li>
    			<li><img src="images/role_05.png" height="150" width="150" alt=""><span>Angelababy</span></li>
    			<li><img src="images/role_06.png" height="150" width="150" alt=""><span>唐马儒</span></li>
    			<li><img src="images/role_07.png" height="150" width="150" alt=""><span>大白</span></li>
    			<li><img src="images/role_08.png" height="150" width="150" alt=""><span>王尼玛</span></li>
    			<li><img src="images/role_09.png" height="150" width="150" alt=""><span>克里斯托弗·诺兰</span></li>
    			<li><img src="images/role_10.png" height="150" width="150" alt=""><span>小野寺律</span></li>
    			<li><img src="images/role_11.png" height="150" width="150" alt=""><span>Elon Musk</span></li>
    			<li><img src="images/role_12.png" height="150" width="150" alt=""><span>王大锤</span></li>
    			<li><img src="images/role_13.png" height="150" width="150" alt=""><span>Albert Einstein</span></li>
    			<li><img src="images/role_14.png" height="150" width="150" alt=""><span>路飞</span></li>
    			<li><img src="images/role_15.png" height="150" width="150" alt=""><span>陈绮贞</span></li>
    			<li><img src="images/role_16.png" height="150" width="150" alt=""><span>阿拉蕾</span></li>
    			<li><img src="images/role_17.png" height="150" width="150" alt=""><span>李易峰</span></li>
    			<li><img src="images/role_18.png" height="148" width="148" alt=""><span>Jobs</span></li>
    			<li><img src="images/role_19.png" height="148" width="148" alt=""><span>周星驰</span></li>
    			<li><img src="images/role_20.png" height="150" width="150" alt=""><span>韩寒</span></li>
    		</ul>
    	</div>
    	<div class="footer">
    		<ul>
    			<a href="/test-video"><li class="qian">上一题</li></a>
    			<a href="/test-end"><li class="hou">提交</li></a>
    		</ul>
    	</div>
    		<script type="text/javascript">
		$(".style").pin(
			{
      			containerSelector: ".app"
			}
		)
		
		var wtf = 0;
		
		$("#showo").click(function (e){
			
			if(wtf==0)
			{
				alert("当前没有选项哦！");
			}else{
				var html = e.target.src;
				if(html.match("images/frame_role_no1.png"))
				{
					alert("当前没有选项哦！");				
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showo").html("<img src='images/frame_role_no1.png' alt=''>");
					}
				
				}
			
			}
		
		})
		$("#showt").click(function (e){
			
			if(wtf==0){
				alert("当前没有选项哦！");
			}else
			{
				var html = e.target.src;
				if(html.match("images/frame_role_no2.png"))
				{
					alert("当前没有选项哦！");				
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showt").html("<img src='images/frame_role_no2.png' alt=''>");
					}
			}
			
			}
		
		})
		
		
		
		$("#showh").click(function (e){
		
			if(wtf==0){
				alert("当前没有选项哦！");
			}else
			{
				var html = e.target.src;
				if(html.match("images/frame_role_no3.png"))
				{
					alert("当前没有选项哦！");
				}else
				{
					wtf--;
					if(wtf>=0)
					{
						$("#showh").html("<img src='images/frame_role_no3.png' alt=''>");
					}
				}
				
			}
		})
		
		
		
		$("#bt li img").click(function(e){

			 $(this).unbind('click');
			if(wtf<3){
				wtf++;
			  	var target = e.target.src;
			  	var htmlo = $("#showo").html();
			  	var htmlt = $("#showt").html();
			  	var htmlh = $("#showh").html();



		  	
		  	    if(wtf<=3)
		  	    {
		  			switch(wtf){
		  				case 1: $("#showo").html("<img src='"+target+"' height='150' alt=''>");break;
		  				case 2: 
		  				if(htmlt.match("images/frame_role_no2.png")){
		  					$("#showt").html("<img src='"+target+"' height='150' alt=''>");
		  				}else{
		  					$("#showo").html("<img src='"+target+"' height='150' alt=''>");
		  				}break;
		  				case 3:
		  				if(htmlh.match("images/frame_role_no3.png")){
		  					$("#showh").html("<img src='"+target+"' height='150' alt=''>");
		  				}else if(htmlo.match("images/frame_role_no1.png")){
		  					$("#showo").html("<img src='"+target+"' height='150' alt=''>");
		  				}else{
		  					$("#showt").html("<img src='"+target+"' height='150' alt=''>");
		  				}break;
		  		}
		  	}else
		  	{
		  		alert("没有选项哦");
		  	}
			
		  }		
		
			 
		}); 
	</script>
    </body>
</html>